NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_USE_MOCK=
NEXT_PUBLIC_KAKAO_JS_KEY=
NEXT_ALLOWED_DEV_ORIGIN=172.30.1.61
NOTION_TOKEN=
NOTION_QA_DATA_SOURCE_ID=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
SENTRY_ORG=ppotto
SENTRY_PROJECT=ppotto-web
SENTRY_URL=https://sentry.ppotto.co.kr/
SENTRY_AUTH_TOKEN=
SENTRY_RELEASE=
SENTRY_DIST=
