EXPO_PUBLIC_API_URL=https://dev-api.ppotto.co.kr
EXPO_PUBLIC_WEB_URL=http://localhost:3000
EXPO_PUBLIC_QA_TOOL_ENABLED=false
EXPO_PUBLIC_HYPERDX_API_KEY=
EXPO_PUBLIC_HYPERDX_BEACON_URL=https://otel.ppotto.co.kr/api/v2/spans
