{
  "openapi": "3.1.0",
  "info": {
    "title": "PPOTTO API",
    "version": "1.0.0",
    "description": "뽀또 서버 API 명세입니다. ERD는 `__docs__/ppotto_erd.dbml`을 참고하세요.\n\n- 모든 응답은 `ApiResponse(success / data / error)` 엔벨로프로 감쌉니다.\n- 인증은 Bearer JWT를 사용하며, 인증 실패 시 어떤 API든 401 `COMMON-004`를 반환합니다.\n- refresh token은 Redis에서 관리합니다 (30일, rotation).\n- 이미지는 모두 만료 1시간짜리 signed URL로 내려가므로 클라이언트는 URL을 저장하지 않습니다.\n- 근접촬영 그룹핑, 로딩 문구, 공유 이미지 합성, About 뽀또 스티커는 클라이언트 담당이라 API가 없습니다.\n- 버저닝은 Spring Framework 7 네이티브 방식의 `X-API-Version` 요청 헤더를 사용합니다.\n  현재 버전은 `1`이고, 헤더가 없으면 서버가 기본 버전(1)으로 처리합니다. URL에는 버전이 없습니다.\n\n### 에러 코드\n| 코드 | HTTP | 의미 |\n|---|---|---|\n| COMMON-000 | 500 | 서버 오류 |\n| COMMON-001 | 400 | 잘못된 입력 (필수 필드 누락, 길이 초과 등) |\n| COMMON-002 | 404 | 리소스 없음 |\n| COMMON-004 | 401 | 인증 필요 (헤더 누락, accessToken 만료) |\n| AUTH-001 | 401 | 소셜 토큰 검증 실패 |\n| AUTH-002 | 401 | refresh token 만료 또는 위조 |\n| AUTH-003 | 401 | 애플 authorization code 교환 실패 |\n| AUTH-004 | 403 | 카카오 이메일 동의 필요 |\n| TERM-001 | 400 | 필수 약관 미포함 |\n| BOARD-001 | 400 | 편집 대상에 소유하지 않은 항목 포함 |\n| BOARD-002 | 404 | 보드 없음 또는 소유자 불일치 |\n| BOARD-003 | 400 | 보드 개수 제한(100개) 초과 |\n| BOARD-004 | 409 | 마지막 보드는 삭제 불가 |\n| BOARD-005 | 409 | 진행 중인 분석이 대상인 보드는 삭제 불가 |\n| STICKER-001 | 404 | 스티커 없음 또는 소유자 불일치 |\n| ANALYSIS-001 | 400 | 사진 수 정책 위반 (90~100) |\n| ANALYSIS-002 | 409 | 진행 중인 분석 존재 |\n| ANALYSIS-003 | 409 | 이미 시작되었거나 종료된 분석 |\n| ANALYSIS-004 | 409 | 분석 시작 후라 취소 불가 |\n| ANALYSIS-005 | 404 | 분석 없음 또는 소유자 불일치 |\n| ANALYSIS-006 | 429 | 일일 분석 횟수 초과 |\n\nCOMMON-000/002/003은 전역 공통이라 각 엔드포인트에 따로 표기하지 않습니다.\n"
  },
  "servers": [
    {
      "url": "https://api.ppotto.co.kr",
      "description": "운영"
    },
    {
      "url": "http://localhost:8080",
      "description": "로컬"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "로그인, 토큰, 로그아웃"
    },
    {
      "name": "users",
      "description": "내 정보, 탈퇴"
    },
    {
      "name": "terms",
      "description": "약관 조회와 동의"
    },
    {
      "name": "boards",
      "description": "보드 목록/생성/조회, 이름 변경, 편집 저장"
    },
    {
      "name": "stickers",
      "description": "리캡 조회, 제목 수정, 열람 처리, 삭제"
    },
    {
      "name": "analysis",
      "description": "사진 업로드와 분석 파이프라인"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["auth"],
        "operationId": "login",
        "summary": "소셜 로그인 (가입 겸용)",
        "description": "카카오 또는 애플 계정으로 로그인합니다. 처음 보는 계정이면 가입과 기본 보드\n생성까지 한 번에 처리됩니다.\n\n**카카오**\n- 클라이언트가 카카오 SDK로 받은 `accessToken`을 보내면, 서버가 먼저\n  `/v1/user/access_token_info`로 토큰의 `app_id`가 우리 앱인지 확인합니다\n  (다른 서비스에서 수집한 토큰으로 로그인하는 토큰 치환 공격 차단, 불일치 시 AUTH-001).\n  이후 `/v2/user/me`로 회원번호를 조회해 `providerUserId`로 사용합니다.\n- 이메일은 필수입니다. 동의하지 않았으면 403 `AUTH-004`로 거부되며,\n  클라이언트는 추가 동의(`account_email` 스코프)를 요청한 뒤 다시 로그인합니다.\n\n**애플**\n- `identityToken`(JWT)을 애플 JWKS로 검증합니다 (iss / aud / exp / nonce).\n  `nonce` 클레임은 함께 보낸 `rawNonce`의 SHA-256 해시와 대조합니다.\n- 토큰의 `sub`를 `providerUserId`로 사용합니다.\n- `authorizationCode`는 5분 안에 refresh token으로 교환해 탈퇴(revoke)용으로\n  보관합니다. 앱스토어 심사 필수 사항이며, 재로그인 시에는 교환이 실패해도\n  로그인은 통과됩니다.\n\n응답의 `pendingTerms`가 비어 있지 않으면 약관 동의 화면으로 이동합니다.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["provider", "accessToken"],
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": ["KAKAO"]
                      },
                      "accessToken": {
                        "type": "string",
                        "description": "카카오 SDK가 발급한 OAuth access token",
                        "example": "v1.eyJraWQiOiI5ZjI1MmRhZGQ1ZjIzM2Y5M2QyZmE1MjhkMTJmZWEi..."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["provider", "identityToken", "authorizationCode", "rawNonce"],
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": ["APPLE"]
                      },
                      "identityToken": {
                        "type": "string",
                        "description": "애플 로그인 결과로 받은 identity token (JWT)",
                        "example": "eyJraWQiOiJXNldjT0tCIiwiYWxnIjoiUlMyNTYifQ..."
                      },
                      "authorizationCode": {
                        "type": "string",
                        "description": "refresh token 교환용입니다. 발급 후 5분, 1회만 유효합니다.",
                        "example": "c8ef1d2a90b34c5d8e7f6a5b4c3d2e1f0.0.srtwx.k9J8h7G6f5E4d3C2b1A0"
                      },
                      "rawNonce": {
                        "type": "string",
                        "description": "클라이언트가 생성한 원본 nonce. 애플 로그인 요청에는 SHA-256 해시를 넣고 서버에는 원본을 보냅니다.",
                        "example": "4A7F0E2B-9C31-45D8-A6F2-8B0C3D9E1F52"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "kakao": {
                  "summary": "카카오 로그인",
                  "value": {
                    "provider": "KAKAO",
                    "accessToken": "v1.eyJraWQiOiI5ZjI1MmRhZGQ1ZjIzM2Y5M2QyZmE1MjhkMTJmZWEi..."
                  }
                },
                "appleFirst": {
                  "summary": "애플 최초 로그인",
                  "value": {
                    "provider": "APPLE",
                    "identityToken": "eyJraWQiOiJXNldjT0tCIiwiYWxnIjoiUlMyNTYifQ.eyJpc3MiOiJodHRwczovL2FwcGxlaWQuYXBwbGUuY29t...",
                    "authorizationCode": "c8ef1d2a90b34c5d8e7f6a5b4c3d2e1f0.0.srtwx.k9J8h7G6f5E4d3C2b1A0",
                    "rawNonce": "4A7F0E2B-9C31-45D8-A6F2-8B0C3D9E1F52"
                  }
                },
                "appleReturning": {
                  "summary": "애플 재로그인 (refresh token 보관 중이면 교환 생략 가능)",
                  "value": {
                    "provider": "APPLE",
                    "identityToken": "eyJraWQiOiJXNldjT0tCIiwiYWxnIjoiUlMyNTYifQ.eyJpc3MiOiJodHRwczovL2FwcGxlaWQuYXBwbGUuY29t...",
                    "authorizationCode": "f2a4b6c8d0e2f4a6b8c0d2e4f6a8b0c2d.0.mnpqr.Z1y2X3w4V5u6T7s8R9q0",
                    "rawNonce": "0F9E8D7C-6B5A-4938-A716-05F4E3D2C1B0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "type": "object",
                              "required": ["accessToken", "refreshToken", "accessTokenExpiresIn"],
                              "properties": {
                                "accessToken": {
                                  "type": "string",
                                  "description": "JWT. Authorization Bearer 헤더에 넣습니다."
                                },
                                "refreshToken": {
                                  "type": "string",
                                  "description": "서버가 생성한 랜덤 값입니다 (JWT 아님). Keychain 등 보안 저장소에 보관합니다."
                                },
                                "accessTokenExpiresIn": {
                                  "type": "integer",
                                  "description": "accessToken 만료까지 남은 초",
                                  "example": 3600
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": ["isNewUser", "pendingTerms"],
                              "properties": {
                                "isNewUser": {
                                  "type": "boolean"
                                },
                                "pendingTerms": {
                                  "type": "array",
                                  "description": "동의가 필요한 현재 버전 약관. 비어 있으면 바로 진입",
                                  "items": {
                                    "type": "object",
                                    "required": ["id", "code", "version", "isRequired", "agreed"],
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "code": {
                                        "type": "string",
                                        "example": "TOS"
                                      },
                                      "version": {
                                        "type": "string",
                                        "example": "1.0"
                                      },
                                      "isRequired": {
                                        "type": "boolean"
                                      },
                                      "contentUrl": {
                                        "type": ["string", "null"],
                                        "description": "노션 등 외부 문서 링크"
                                      },
                                      "agreed": {
                                        "type": "boolean",
                                        "description": "요청 사용자의 동의 여부"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "signUp": {
                    "summary": "신규 가입 - 약관 동의 필요",
                    "value": {
                      "success": true,
                      "data": {
                        "accessToken": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwMTk4M2YyYS03YzMxLTdiMDItOTNkNC0xZjJlM2Q0YzViNmEi...",
                        "refreshToken": "rT8fK2mZ7pL4vQ9xN3jW6yB1cD5gH0aS9uE2iO7kM4wRt",
                        "accessTokenExpiresIn": 3600,
                        "isNewUser": true,
                        "pendingTerms": [
                          {
                            "id": "01983f2a-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                            "code": "TOS",
                            "version": "1.0",
                            "isRequired": true,
                            "contentUrl": "https://nexters.notion.site/ppotto-tos",
                            "agreed": false
                          },
                          {
                            "id": "01983f2a-2b3c-7d4e-9f5a-6b7c8d9e0f1a",
                            "code": "PRIVACY",
                            "version": "1.0",
                            "isRequired": true,
                            "contentUrl": "https://nexters.notion.site/ppotto-privacy",
                            "agreed": false
                          }
                        ]
                      },
                      "error": null
                    }
                  },
                  "returning": {
                    "summary": "재로그인 - 바로 보드 진입",
                    "value": {
                      "success": true,
                      "data": {
                        "accessToken": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwMTk4M2YyYS03YzMxLTdiMDItOTNkNC0xZjJlM2Q0YzViNmEi...",
                        "refreshToken": "pV5nX8bJ1zC6qF3jL9dR2mY7wK0hG4sA8eU1oT6yN3tPb",
                        "accessTokenExpiresIn": 3600,
                        "isNewUser": false,
                        "pendingTerms": []
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "COMMON-001: provider 별 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-001",
                    "message": "잘못된 입력입니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH-001: provider 토큰 검증 실패 (만료, 위조, aud/app_id 불일치, nonce 불일치)\nAUTH-003: 애플 authorization code 교환 실패 (만료 또는 재사용, 최초 로그인만 치명)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalidToken": {
                    "summary": "AUTH-001 소셜 토큰 검증 실패",
                    "value": {
                      "success": false,
                      "data": null,
                      "error": {
                        "code": "AUTH-001",
                        "message": "소셜 로그인 검증에 실패했습니다.",
                        "fieldErrors": [],
                        "timestamp": "2026-07-27T05:02:11Z"
                      }
                    }
                  },
                  "codeExchangeFailed": {
                    "summary": "AUTH-003 애플 코드 교환 실패",
                    "value": {
                      "success": false,
                      "data": null,
                      "error": {
                        "code": "AUTH-003",
                        "message": "애플 인증 코드 교환에 실패했습니다. 다시 로그인해 주세요.",
                        "fieldErrors": [],
                        "timestamp": "2026-07-27T05:02:11Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH-004: 카카오 이메일 동의 필요. 클라이언트는 account_email 추가 동의 후 재시도합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "AUTH-004",
                    "message": "이메일 제공에 동의해야 가입할 수 있습니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["auth"],
        "operationId": "refreshToken",
        "summary": "토큰 재발급",
        "description": "accessToken이 만료되면(401 COMMON-004) 호출합니다. refreshToken은 매번 새 값으로\n교체되므로 응답을 받는 즉시 저장값을 갱신해야 합니다.\nAUTH-002가 내려오면 다시 로그인해야 합니다.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["refreshToken"],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "refreshToken": "rT8fK2mZ7pL4vQ9xN3jW6yB1cD5gH0aS9uE2iO7kM4wRt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "재발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": ["accessToken", "refreshToken", "accessTokenExpiresIn"],
                          "properties": {
                            "accessToken": {
                              "type": "string",
                              "description": "JWT. Authorization Bearer 헤더에 넣습니다."
                            },
                            "refreshToken": {
                              "type": "string",
                              "description": "서버가 생성한 랜덤 값입니다 (JWT 아님). Keychain 등 보안 저장소에 보관합니다."
                            },
                            "accessTokenExpiresIn": {
                              "type": "integer",
                              "description": "accessToken 만료까지 남은 초",
                              "example": 3600
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "accessToken": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwMTk4M2YyYS03YzMxLTdiMDItOTNkNC0xZjJlM2Q0YzViNmEi...",
                    "refreshToken": "gQ4kD7sF0aZ9xW2cV5bN8mR1tY6uL3pH7eK0iS4jO9nGc",
                    "accessTokenExpiresIn": 3600
                  },
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "AUTH-002: refresh token 만료 또는 위조. 재로그인 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "AUTH-002",
                    "message": "로그인이 만료되었습니다. 다시 로그인해 주세요.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["auth"],
        "operationId": "logout",
        "summary": "로그아웃",
        "description": "refresh token만 폐기합니다. 서버 데이터는 유지되므로 재로그인하면 그대로 다시 불러옵니다.",
        "responses": {
          "200": {
            "description": "로그아웃 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {},
                    "error": {}
                  }
                },
                "example": {
                  "success": true,
                  "data": null,
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["users"],
        "operationId": "getMe",
        "summary": "내 정보 조회 (설정 화면)",
        "description": "설정 화면의 내 계정 영역에 사용합니다.",
        "responses": {
          "200": {
            "description": "내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": ["id", "provider", "email", "createdAt"],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "provider": {
                              "type": "string",
                              "enum": ["KAKAO", "APPLE"]
                            },
                            "email": {
                              "type": "string",
                              "description": "항상 존재합니다. 애플 이메일 가리기 유저는 private relay 주소입니다."
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "kakaoUser": {
                    "summary": "카카오 유저",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "01983f2a-7c31-7b02-93d4-1f2e3d4c5b6a",
                        "provider": "KAKAO",
                        "email": "ppotto@kakao.com",
                        "createdAt": "2026-07-01T09:12:33+09:00"
                      },
                      "error": null
                    }
                  },
                  "appleUserRelay": {
                    "summary": "애플 유저 - 이메일 가리기 (private relay)",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "01983f2a-6b20-7a01-82c3-0e1d2c3b4a59",
                        "provider": "APPLE",
                        "email": "mxq7r2v9td@privaterelay.appleid.com",
                        "createdAt": "2026-07-15T21:40:05+09:00"
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["users"],
        "operationId": "deleteMe",
        "summary": "회원 탈퇴",
        "description": "애플 계정은 보관 중인 refresh token으로 revoke를 호출합니다 (앱스토어 심사 필수).\nemail과 provider refresh token은 즉시 파기(익명화)하고, 나머지 데이터는\nsoft delete 후 유예기간이 지나면 GCS 사진 원본까지 배치로 하드 삭제합니다.\n같은 계정으로 다시 로그인하면 신규 가입이 됩니다.\n",
        "responses": {
          "200": {
            "description": "탈퇴 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {},
                    "error": {}
                  }
                },
                "example": {
                  "success": true,
                  "data": null,
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms": {
      "get": {
        "tags": ["terms"],
        "operationId": "getTerms",
        "summary": "현재 유효 약관 목록",
        "description": "code별로 현재 유효한 버전을 1건씩 반환합니다. agreed가 false면 재동의 대상입니다.\n설정 화면의 약관 링크에도 contentUrl을 사용합니다.\n",
        "responses": {
          "200": {
            "description": "약관 목록",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["id", "code", "version", "isRequired", "agreed"],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "code": {
                                "type": "string",
                                "example": "TOS"
                              },
                              "version": {
                                "type": "string",
                                "example": "1.0"
                              },
                              "isRequired": {
                                "type": "boolean"
                              },
                              "contentUrl": {
                                "type": ["string", "null"],
                                "description": "노션 등 외부 문서 링크"
                              },
                              "agreed": {
                                "type": "boolean",
                                "description": "요청 사용자의 동의 여부"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "01983f2a-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                      "code": "TOS",
                      "version": "1.0",
                      "isRequired": true,
                      "contentUrl": "https://nexters.notion.site/ppotto-tos",
                      "agreed": true
                    },
                    {
                      "id": "01983f2a-2b3c-7d4e-9f5a-6b7c8d9e0f1a",
                      "code": "PRIVACY",
                      "version": "1.1",
                      "isRequired": true,
                      "contentUrl": "https://nexters.notion.site/ppotto-privacy",
                      "agreed": false
                    }
                  ],
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/agreements": {
      "post": {
        "tags": ["terms"],
        "operationId": "agreeTerms",
        "summary": "약관 동의 제출",
        "description": "동의 이력을 누적합니다. 이미 동의한 약관은 무시되며(멱등), 필수 약관이 빠져 있으면 TERM-001을 반환합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["termIds"],
                "properties": {
                  "termIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              },
              "example": {
                "termIds": [
                  "01983f2a-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                  "01983f2a-2b3c-7d4e-9f5a-6b7c8d9e0f1a"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "동의 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {},
                    "error": {}
                  }
                },
                "example": {
                  "success": true,
                  "data": null,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "TERM-001: 필수 약관 미포함",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "TERM-001",
                    "message": "필수 약관에 동의해야 합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/boards": {
      "get": {
        "tags": ["boards"],
        "operationId": "listBoards",
        "summary": "내 보드 목록 (드롭다운)",
        "description": "상단 타이틀 드롭다운의 보드 전환 목록입니다. id(uuidv7) 오름차순 = 생성순입니다.",
        "responses": {
          "200": {
            "description": "보드 목록",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["id", "name"],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "maxLength": 10
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b",
                      "name": "Board 7"
                    },
                    {
                      "id": "01983f2a-4d5e-7f6a-b7c8-9d0e1f2a3b4c",
                      "name": "여름 휴가"
                    }
                  ],
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["boards"],
        "operationId": "createBoard",
        "summary": "보드 생성",
        "description": "보드를 새로 만듭니다. 유저당 최대 100개입니다.\nname을 생략하면 서버가 기본 이름을 부여합니다.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  }
                }
              },
              "example": {
                "name": "여름 휴가"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "생성된 보드",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": ["id", "name"],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "maxLength": 10
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "01983f2a-4d5e-7f6a-b7c8-9d0e1f2a3b4c",
                    "name": "여름 휴가"
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "COMMON-001: 이름 형식 오류 (10자 초과 등)\nBOARD-003: 보드 개수 제한(100개) 초과\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "BOARD-003",
                    "message": "보드는 최대 100개까지 만들 수 있습니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/boards/{boardId}": {
      "get": {
        "tags": ["boards"],
        "operationId": "getBoard",
        "summary": "보드 상세 조회 (보드 렌더링)",
        "description": "보드, 스티커, 드로잉을 한 번에 반환합니다. isNew가 빨간 점 표시 여부입니다.\nimageUrl은 만료가 있으므로 보드에 진입할 때마다 새로 조회합니다.\n",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b"
          }
        ],
        "responses": {
          "200": {
            "description": "보드 상태",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "type": "object",
                              "required": ["id", "name"],
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "name": {
                                  "type": "string",
                                  "maxLength": 10
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": ["stickers", "drawings"],
                              "properties": {
                                "stickers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "id",
                                      "title",
                                      "isNew",
                                      "type",
                                      "posX",
                                      "posY",
                                      "scale",
                                      "rotation",
                                      "zIndex",
                                      "badgeOffsetX",
                                      "badgeOffsetY",
                                      "badgeRotation"
                                    ],
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "title": {
                                        "type": "string",
                                        "maxLength": 15,
                                        "description": "제목 뱃지 문구이자 리캡 제목"
                                      },
                                      "isNew": {
                                        "type": "boolean",
                                        "description": "viewed_at IS NULL. 뱃지에 빨간 점 표시"
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": ["IMAGE", "TEXT"]
                                      },
                                      "imageUrl": {
                                        "type": ["string", "null"],
                                        "description": "IMAGE 형. 누끼 PNG 의 읽기용 signed URL (만료 1시간)"
                                      },
                                      "textContent": {
                                        "type": ["string", "null"],
                                        "description": "TEXT 형 문구"
                                      },
                                      "posX": {
                                        "type": "number",
                                        "description": "보드 좌표. 기준 해상도는 클라 정의를 따른다"
                                      },
                                      "posY": {
                                        "type": "number"
                                      },
                                      "scale": {
                                        "type": "number",
                                        "example": 1.0
                                      },
                                      "rotation": {
                                        "type": "number",
                                        "description": "degree"
                                      },
                                      "zIndex": {
                                        "type": "integer"
                                      },
                                      "badgeOffsetX": {
                                        "type": "number",
                                        "description": "스티커 기준 상대 좌표. 일정 범위 내로 제한"
                                      },
                                      "badgeOffsetY": {
                                        "type": "number"
                                      },
                                      "badgeRotation": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                },
                                "drawings": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": ["id", "scope", "stroke", "color", "strokeWidth"],
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "scope": {
                                        "type": "string",
                                        "enum": ["STICKER", "BOARD"]
                                      },
                                      "stickerId": {
                                        "type": ["string", "null"],
                                        "format": "uuid",
                                        "description": "scope=STICKER 일 때만"
                                      },
                                      "stroke": {
                                        "type": "object",
                                        "description": "점 배열 등 선 데이터. 포맷은 클라 정의를 그대로 저장"
                                      },
                                      "color": {
                                        "type": "string",
                                        "example": "#FFD400"
                                      },
                                      "strokeWidth": {
                                        "type": "number",
                                        "example": 4.0
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b",
                    "name": "Board 7",
                    "stickers": [
                      {
                        "id": "01983f2b-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                        "title": "동물 밈 짤줍",
                        "isNew": false,
                        "type": "IMAGE",
                        "imageUrl": "https://storage.googleapis.com/ppotto-stickers/01983f2b-1a2b.png?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Expires=3600&X-Goog-Signature=8f3a...",
                        "textContent": null,
                        "posX": 62.5,
                        "posY": 318.0,
                        "scale": 0.8,
                        "rotation": -12.0,
                        "zIndex": 3,
                        "badgeOffsetX": -24.0,
                        "badgeOffsetY": 96.0,
                        "badgeRotation": 0.0
                      },
                      {
                        "id": "01983f2b-3c4d-7e5f-a6b7-8c9d0e1f2a3b",
                        "title": "언제까지 일해요",
                        "isNew": true,
                        "type": "TEXT",
                        "imageUrl": null,
                        "textContent": "whats in my mac",
                        "posX": 228.0,
                        "posY": 250.5,
                        "scale": 1.0,
                        "rotation": 8.5,
                        "zIndex": 5,
                        "badgeOffsetX": 12.0,
                        "badgeOffsetY": -60.0,
                        "badgeRotation": -4.0
                      }
                    ],
                    "drawings": [
                      {
                        "id": "01983f2c-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                        "scope": "STICKER",
                        "stickerId": "01983f2b-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                        "stroke": {
                          "points": [
                            [10.5, 22.0],
                            [14.2, 25.1],
                            [19.8, 27.4]
                          ]
                        },
                        "color": "#FFD400",
                        "strokeWidth": 4.0
                      },
                      {
                        "id": "01983f2c-2b3c-7d4e-9f5a-6b7c8d9e0f1a",
                        "scope": "BOARD",
                        "stickerId": null,
                        "stroke": {
                          "points": [
                            [120.0, 480.5],
                            [126.4, 483.2],
                            [133.1, 481.0]
                          ]
                        },
                        "color": "#FFFFFF",
                        "strokeWidth": 2.5
                      }
                    ]
                  },
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "BOARD-002: 보드 없음 또는 소유자 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "BOARD-002",
                    "message": "보드를 찾을 수 없습니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["boards"],
        "operationId": "renameBoard",
        "summary": "보드 이름 변경",
        "description": "최대 10자입니다.",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  }
                }
              },
              "example": {
                "name": "뽀또의 보드"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "변경된 보드",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["success"],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {},
                        "error": {}
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": ["id", "name"],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "maxLength": 10
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b",
                    "name": "뽀또의 보드"
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "COMMON-001: 빈 이름 또는 10자 초과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-001",
                    "message": "잘못된 입력입니다.",
                    "fieldErrors": [
                      {
                        "field": "name",
                        "value": "열자가넘는아주긴보드이름",
                        "reason": "크기가 1에서 10 사이여야 합니다"
                      }
                    ],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "BOARD-002: 보드 없음 또는 소유자 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "BOARD-002",
                    "message": "보드를 찾을 수 없습니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["boards"],
        "operationId": "deleteBoard",
        "summary": "보드 삭제",
        "description": "보드와 그 위의 스티커, 리캡(코멘트·사진 연결), 드로잉을 함께 삭제합니다.\n마지막 남은 보드는 삭제할 수 없고(BOARD-004), 진행 중인 분석이 이 보드를\n대상으로 하면 분석이 끝나거나 취소된 뒤에 삭제할 수 있습니다(BOARD-005).\n",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "01983f2a-3c4d-7e5f-a6b7-8c9d0e1f2a3b"
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {},
                    "error": {}
                  }
                },
                "example": {
                  "success": true,
                  "data": null,
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "COMMON-004: 인증 필요 (Authorization 헤더 누락 또는 accessToken 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "COMMON-004",
                    "message": "인증이 필요합니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "BOARD-002: 보드 없음 또는 소유자 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "에러 발생 시각 (Instant, UTC)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "data": null,
                  "error": {
                    "code": "BOARD-002",
                    "message": "보드를 찾을 수 없습니다.",
                    "fieldErrors": [],
                    "timestamp": "2026-07-27T05:02:11Z"
                  }
                }
              }
            }
          },
          "409": {
            "description": "BOARD-004: 마지막 보드는 삭제 불가\nBOARD-005: 진행 중인 분석이 이 보드를 대상으로 함\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "error"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {},
                    "error": {
                      "type": "object",
                      "description": "global/error/ErrorResponse.kt 와 동일 구조",
                      "required": ["code", "message", "fieldErrors", "timestamp"],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "COMMON-001"
                        },
                        "message": {
                          "type": "string"
                        },
                        "fieldErrors": {
                          "type": "array",
                          "description": "바디 검증 실패(MethodArgumentNotValid)일 때만 채워진다. 그 외 빈 배열",
                          "items": {
                            "type": "object",
                            "required": ["field"],
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "name"
                              },
                              "value": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            }
                          }
                        },
                        "timestamp": {
[...]
